
body {
	background: #ffff00;
	background-color: #00ffff;
}
h1 {
	font-size: 27px;
	font-weight: 700;
	font-family: 'Slabo 27px', serif;
}
p {
	font-style: normal;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}
ul {text-align: center;
	width: 100px;
	margin: auto;
}

li {
	font-size: 12px;
}
img {width: 100%;
}
#slogan {
	font-style: italic;
}


