* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: #ffff00;
	background-color: #00ffff;
	color:#222;
	font-style: normal;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
h1 {
	font-size: 27px;
	font-weight: 700;
	font-family: 'Slabo 27px', serif;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
ul {
	text-align: center;
	width: 100px;
	margin: auto;
}

img {width: 400px;}
#slogan {
	font-style: italic;
}


