
body {
	background: #ffff00;
	background-color: #00ffff;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
h1 {
	font-size: 27px;
	font-weight: 700;
	font-family: 'Slabo 27px', serif;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
p {
	font-style: normal;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E
	border: 1px black solid;
	padding: 20px;
}
div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
ul {text-align: center;
	width: 100px;
	margin: auto;
}

li {
	font-size: 12px;
}
img {width: 100%;
}
#slogan {
	font-style: italic;
}


